.top-nav{
    
    text-align: center;
      font-size: large;
   
}
.list {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    text-decoration: none;
    color: rgb(0, 0, 0);
  
    
   
  }
  
  input{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  

h1{
  text-align: center;
  color:rgb(0, 0, 0) ;
}
.bg{
  width: 100%;
  height: 100vh;
}
.foot{

  background-color: orange;
  color: black;
  width: 100%;
  height: 50px;
  margin-top: 300px;
}
.login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}
.box{
 padding-top: 100px;
 padding-left: 600px;
 border-radius: 10%;
}
.logo{
  text-align: left;
}
.header{
  text-align: center;
  margin-left: 50px;
  padding-left: 80px;
}

.nav{
  color: rgb(0, 0, 0);
  padding: 90px;
  
}
.logbtn{
  align-content: center;
}
.about{
  display: flex;
  margin-top: 100px;
  
}
.divr{
  width: 60%;
  height: 30vh;
}
.divl{
  width: 40%;
}
.divl .img {
  height: 30vh;
}
.MAIN{
  background-color: #f7f7f710;
}
.container{
  text-align: center;
  width: 50%;
  margin-left: 350px;
}


  